
body{
font-size:130%;
background: #f7f3e9;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
  max-width:960px;
  margin:0 auto;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap:1rem;
}

img{
  max-width: 100%;
  height: auto;
  border-radius: 2rem;
  box-shadow: 2px 2px 10px black;
}


header{
  grid-column: span 2;
  text-align: center;
background-image:url(Images/header_image.JPG);
background-repeat: no-repeat;
background-size: contain;
background-position:center;
border-radius: 2rem;
box-shadow: 2px 2px 20px black;
}

 header h1{
  font: size -10px;
  font-family: 'Times New Roman', Times, serif;
  color:brown;

}

main{
  display: grid;
  grid-template-columns: 3fr 1 fr;
  gap: 1rem;
  padding:.5rem;
}


main h2{
  font-size:90%;
border-bottom: 1px solid gray;
color:cornflowerblue;  
  text-align: center;
}




nav{
  text-transform: uppercase;
  background-color:blanchedalmond;
  flex-direction: column;
  justify-content: space-around;
  font-size: 90%;
  text-wrap: balance;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li{
  list-style-type: none;
}

nav a {
  display: block;
  text-align: center;
  background-color:wheat;
  padding: 1em 0;
  text-decoration: none;
  
}

 nav a:hover{
  background-color: beige;
  border-radius: 2rem;
 }

nav li:last-of-type a{
  border-bottom: none;
  padding: 2px;
  border-radius:2rem;
  justify-content: space-between;
}


nav a.active { 
  padding: 2px 2px;
  border-radius:2rem;
  justify-content: space-between;
  border-bottom: 1px solid sliver;
}
  


.heading{
  font-size:90%;
  color: darkkhaki;
}




/* GRID LAYOUT */
main.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  padding: 30px;
}

/* CARDS */
.ingredient-card {
  background: #fff;
  padding: 18px;
  border-left: 8px solid burlywood;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.ingredient-card h2 {
  color:chocolate;
  margin-bottom: 10px;
}

.ingredient-card ul {
  margin-left: 20px;
  line-height: 1.7;
}

.ingredient-card p {
  margin-top: 10px;
  font-style: italic;
}



.dish-img {
  width: 100%;
  max-width: 500px;
  display: block;
  margin-bottom: 15px;
}

.left-column{
  padding: 1rem;
  font-size: 90%;
  line-height: 1.4;
  background-color:lavender;
  border-radius:30px ;
  box-shadow: 2px 2px 10px black;
  text-align: center;
  flex-direction: column;
  justify-content:space-around;
  text-wrap: balance;
}

.right-column{
  background-color: thistle;
  padding: .5rem;
  box-shadow: inset 2px 2px 10px black;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  font-size: 90%;
  text-wrap: balance;
}

  .right-column h2{font-size: 175%;

  }

  .left-column h2{
    font-size: 150%;
    border-bottom:  1px solid #b04688;
    color:#b04688;
  }

  footer{
background-color:chocolate;
padding:1rem 5rem  ;
display: flex;
clear: both;
grid-column: span 2;
text-align: center;
background-image: url(Images/footer-img.JPG);
background-repeat: no-repeat;
background-size: cover;
padding: 1em;
justify-content:space-between;

}

footer a{font-size: 130%;
color:blueviolet;
}

footer a:hover{
  background-color: plum;
  color: bisque;
}

.History{
  padding: 1rem;
  font-size: 90%;
  line-height: 1.4;
  background-color:lavender;
  border-radius:30px ;
  box-shadow: 2px 2px 10px black;
  text-align: center;
  flex-direction: column;
  justify-content:space-around;
  text-wrap: balance;
} 

