
body{
background-color:gainsboro;
font-size:130%;
}

.wrapper{
  background-color: white;
}

img{
  max-width: 100%;
}


header{
background-color:khaki;
padding:1rem 2rem;
display: flex;
justify-content: center;
align-items: center;
}

 header h1{
  font-size:130%;
  font-family: 'Times New Roman', Times, serif;
}

 
header figure {
  text-align: center;
  width: 200px;
  margin-left: 5em;
  font-size: 100%;
}

header img{
border: 2px solid burlywood;
border-radius: 2em;
margin-bottom: .9em;
max-width: 100%;
}


main{
  max-width: 90%;
  margin: 0 auto;
  font-size: 110%;
  line-height: 1.4;
  padding: 1rem 2rem;
}

main h2{
  font-size: 90%;
color: blueviolet;
}

footer{
background-color:khaki;
padding:1rem 5rem  ;
display: flex;
justify-content: space-around;
align-items: center;
}

footer a{font-size: 130%;
color:blueviolet;
}

footer a:hover{
  background-color: chocolate;
  color: bisque;
}

 

nav a.active {
  background-color:beige; /* red */
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
}

body {
  background: #f7f3e9;
  font-family: Arial, Helvetica, sans-serif;
}

header h1 {
  text-align: center;
  color: #006b3f;  /* Ghana green */
}

main h2 {
  color: #fcd116;  /* Ghana yellow */
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 10px;
  background: #006b3f;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}


/* HEADER */
header h1 {
  text-align: center;
  padding: 20px;
  color: #006b3f;
}

/* =========================
   LEFT NAVIGATION
========================= */

nav {
  width: 220px;
  background-color: antiquewhite;
  padding-top: 40px;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
}


nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}



/* GRID LAYOUT */
main.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  padding: 30px;
}

/* CARDS */
.ingredient-card {
  background: #fff;
  padding: 18px;
  border-left: 8px solid #fcd116;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.ingredient-card h2 {
  color: #006b3f;
  margin-bottom: 10px;
}

.ingredient-card ul {
  margin-left: 20px;
  line-height: 1.7;
}

.ingredient-card p {
  margin-top: 10px;
  font-style: italic;
}



.dish-img {
  width: 100%;
  max-width: 500px;
  display: block;
  margin-bottom: 15px;
}

