
nav a.active {
  background-color:beige; /* red */
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
}

body {
  background: #f7f3e9;
  font-family: Arial, Helvetica, sans-serif;
}

header h1 {
  text-align: center;
  color: #006b3f;  /* Ghana green */
}

main h2 {
  color: #fcd116;  /* Ghana yellow */
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 10px;
  background: #006b3f;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 20px;
  background: black;
}

footer a {
  color: white;
  margin: 0 10px;
  font-size: 24px;
}




.wrapper {
  max-width: 1200px;
  margin: auto;
  background: white;
}

/* HEADER */
header h1 {
  text-align: center;
  padding: 20px;
  color: #006b3f;
}

/* =========================
   LEFT NAVIGATION
========================= */

nav {
  width: 220px;
  background: #1e1e1e;
  padding-top: 40px;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
}


nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}



/* GRID LAYOUT */
main.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  padding: 30px;
}

/* CARDS */
.ingredient-card {
  background: #fff;
  padding: 18px;
  border-left: 8px solid #fcd116;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.ingredient-card h2 {
  color: #006b3f;
  margin-bottom: 10px;
}

.ingredient-card ul {
  margin-left: 20px;
  line-height: 1.7;
}

.ingredient-card p {
  margin-top: 10px;
  font-style: italic;
}

/* FOOTER */
footer {
  background: black;
  text-align: center;
  padding: 20px;
}

footer a {
  color: #fcd116;
  font-size: 24px;
  margin: 0 15px;
}

.dish-img {
  width: 100%;
  max-width: 500px;
  display: block;
  margin-bottom: 15px;
}